.container {
    padding: 10px;
}

.rgb { 
    margin: 5px;
}
.boxR, .boxB, .boxG {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
}  
.boxR {
    background-color: var(--colorR)
}
.boxG {
    background-color: var(--colorG)
}
.boxB {
    background-color: var(--colorB);
}
.boxHEX {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: var(--colorHEX);
}